@import './colorscheme/catppuccin.scss';

@mixin center-content() {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: $base;
    color: $rosewater;
    padding: 0;
    margin: 0;
}

.message {
    max-width: 100%;
    background-color: $maroon;
    opacity: 0.7;
    padding: 20px;
    color: $base;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;

    button {
        border: none;
        background: inherit;
        color: inherit;
        font-size: x-large;
        cursor: pointer;
    }

}

nav {
    display: flex;
    justify-content: space-between;
    background: $crust;
    padding: 10px;

    a {
        text-decoration: none;
        color: inherit;
    }

    .search {
        margin-right: 8px;
        padding: 0;
        display: flex;
        form {
            button,input {
                text-decoration: none;
                border: 0;
                background-color: $subtext1;
            }
            button {
                border-radius: 0 20px 20px 0;
            }    
            input {
                border-radius: 20px 0 0 20px;
                padding-left: 8px;

                &:focus {
                    outline: 0;
                }
            }
        }

    }

}

.flex-container {
    display: flex;
}


.title {
    text-align: center;
    font-weight: bold;
}





.username {
    text-decoration: none;
    color: $lavender;
}

.user-popup {
    position: absolute;
    background-color: $mantle;
    padding: 20px;
    margin-top: 40px;
    margin-left: 40px;
    width: 200px;

    .user-popup-item {
        background-color: $crust;
        padding: 15px;
        border-radius: 6px;
        text-align: center;
        a {
            text-decoration: none;
            color: $maroon;
        }
    }



    

}
.hidden {
    display: none;
}