{% extends "blogs/base.html" %}

{% block body %}

<h1 class="title">The Blog</h1>

<div class="container">
        <p>Most Viewed Page</p>
        <div class="trending-card">
            <div>
                <p><a id="page-link" href="##">How To Add Scss to Django</a></p>
                <div class="description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quibusdam modi ea odio eaque enim qui officia ab quas, quam perspiciatis debitis aliquid reprehenderit ullam autem dicta quidem consequuntur nostrum.
                </div>
                <div class="views"><i class="fa-light fa-eye"></i> 10</div>
            </div>
        </div>
    <div class="cards">
    {% for card in cards %}
        <div class="card">
            <div class="title">
                <a href="{% url 'blogs' card.id %}}">{{card.title}}</a>
            </div>
            <div class="info">
                <div class="author"><a href="{% url 'users' card.author.username %}">{{card.author.username}}</a></div>
                <div class="date_added">{{card.date_added}}</div>
            </div>
            <div class="views"><i class="fa-light fa-eye fa-2xs"></i><span>{{card.views}}</span></div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}