/* line 3, blogs/static/blogs/css/createblog.scss */
.createBlogForm {
  display: flex;
  flex-direction: column;
  width: 60%; }

/* line 8, blogs/static/blogs/css/createblog.scss */
.fieldWrapper {
  display: flex;
  flex-direction: column; }
