/* line 9, blogs/static/blogs/css/main.scss */
body {
  background: #1e1e2e;
  color: #f5e0dc;
  padding: 0;
  margin: 0; }

/* line 16, blogs/static/blogs/css/main.scss */
nav {
  display: flex;
  justify-content: space-between;
  background: #11111b;
  padding: 10px; }
  /* line 22, blogs/static/blogs/css/main.scss */
  nav .search {
    margin: 0;
    padding: 0;
    display: flex; }
    /* line 27, blogs/static/blogs/css/main.scss */
    nav .search form button, nav .search form input {
      text-decoration: none;
      border: 0; }
