/* line 9, blogs/static/blogs/css/main.scss */
body {
  background: #1e1e2e;
  color: #f5e0dc;
  padding: 0;
  margin: 0; }

/* line 16, blogs/static/blogs/css/main.scss */
nav {
  display: flex;
  justify-content: space-between;
  background: #11111b;
  padding: 10px; }
  /* line 22, blogs/static/blogs/css/main.scss */
  nav .search {
    margin: 0;
    padding: 0;
    display: flex; }
    /* line 27, blogs/static/blogs/css/main.scss */
    nav .search form button, nav .search form input {
      text-decoration: none;
      border: 0;
      background-color: #bac2de; }
    /* line 32, blogs/static/blogs/css/main.scss */
    nav .search form button {
      border-radius: 0 20px 20px 0; }
    /* line 35, blogs/static/blogs/css/main.scss */
    nav .search form input {
      border-radius: 20px 0 0 20px;
      padding-left: 8px; }
      /* line 39, blogs/static/blogs/css/main.scss */
      nav .search form input:focus {
        outline: 0; }

/* line 53, blogs/static/blogs/css/main.scss */
.container {
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 55, blogs/static/blogs/css/main.scss */
  .container .cards {
    margin: 20px;
    width: 60%;
    background: #181825;
    padding: 20px;
    display: flex; }
  /* line 63, blogs/static/blogs/css/main.scss */
  .container .card {
    min-height: 15vh; }
    /* line 65, blogs/static/blogs/css/main.scss */
    .container .card p {
      color: #b4befe;
      font-size: 30px; }
      /* line 68, blogs/static/blogs/css/main.scss */
      .container .card p a {
        text-decoration: none;
        color: inherit; }
